<!DOCTYPE html>
<html>
  <head>
    <title>SimpleQrCodeRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style='text-align: center;'>
  <img style='width:300px;height:300px;text-align: center;' id='base64image'                 
       src='<%= generate_qr( "https://github.com/TanHongIT/simple_qr_code_rails" ) %>' />
</div>
  </body>
</html>
